* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 5%;
}